#body{
    width: 191px;  
    display: flex;
    
}
.taskbar{
    position: relative;
    background-color:darkkhaki;
    float: left;
    width: 165px;
    padding: 15px;
    height:300px;
    
}

.welcome{
    font-size: 18px;
    padding-top: 0px;
    font-family: sans-serif;
}

.welcome button{
    width: 70%;
    height: 30px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    font-family: sans-serif;  
    margin-top: 10px;
    text-align: center;
    position: relative;
    left: 28px;
    
}
#user{
    color:floralwhite;
    text-decoration: underline;
    cursor: pointer;
}

.category{
    display: flex;
    text-align: center;
    margin: 35px;
    font-size: 10px;
    cursor: pointer;
    flex-direction: column;
    float: left;
}
.category h1{
    text-align: left;
    font-family: sans-serif;
    font-size: 18px;
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    background:darkkhaki;
    font-size: 18px;
    color: black;
    cursor: pointer;
    outline: none;
    border: none;
    text-align: left;
  }
input[type="submit"]:hover{
    color:white;
    transition: .1s;
    font-size: 20px;
}
.income h1{
    color: blueviolet;
}
:host /deep/ p{
    font-style: italic;
}
a.button{
    background-color:darkkhaki;
    font-size: 20px;
    text-align: left;
    text-decoration: none;
    color: black;
    width: 120px;
    padding-left: 0px;
    padding-bottom: 30px;
}

a.button:hover{
    color: white;
    
} 
.button-icon{
    padding-right: 6px;
}
a.button.active{
    color: white;
    
} 
.color{
    color: white!important;
}
.money{
    position: absolute;
    width: 200px;
    top: 180px;
    left: 220px;
    font-size: 20px;
    font-family: sans-serif;
}