<div id="body">
    <div class="taskbar">
        <div class="welcome">
            Xin chào,
            <label id="user">{{user}}</label><br />
            <button (click)="logout()">Đăng xuất</button>
        </div>
        <div class="category">
            
                <a class="button" (click)="tabChange('detail')" [class.color]="id==='detail'">
                    <span class="button-icon">
                        <i class="fas fa-info-circle"></i>
                    </span>
                    <span class="button-text">Giao dịch</span>
                </a>
           
                <a class="button" (click)="tabChange('income')" [class.color]="id==='income'" >
                    <span class="button-icon">
                        <i class="fas fa-coins"></i>
                    </span>
                    <span class="button-text">Thu nhập</span>
                </a>
            
                <a class="button" (click)="tabChange('spend')" [class.color]="id==='spend'">
                    <span class="button-icon">
                        <i class="fas fa-comment-dollar"></i>
                    </span>
                    <span class="button-text">Chi tiêu</span>
                </a>
            
            <a class="button" (click)="tabChange('1')" [class.color]="id==='1'">
                <span class="button-icon">
                    <i class="fas fa-wallet"></i>
                </span>
                <span class="button-text">Thống kê</span>
            </a>
            
        </div>
    </div>
</div>
