
<div id="body">
    <div class="block">
      <app-taskbar></app-taskbar>
    </div>
    <div class="block">
      <div class="spend">
        <p>Chi tiêu</p>
        <form class="body-form" [formGroup]="newForm" (ngSubmit)="onSubmit()">
          <div class="txt_field">
            <input type="text" formControlName="detail" placeholder="Tên giao dịch">
            <span></span>
          </div>
          <div class="txt_field">
            <input type="date" formControlName="date" placeholder="Ngày">
            <span></span>
          </div>
          <div class="txt_field">
            <select formControlName="category" placeholder="Danh mục">
              <option value="" selected disabled>Danh mục</option>
              <option value="lương" >Giải trí</option>
              <option value="thưởng">Xăng dầu</option>
            </select>
            <span></span>
          </div>
          <div class="txt_field">
            <input class="money" type="text" formControlName="price" placeholder="Giá tiền" [appFormatFields]="CURRENCY" (change)="onChangeReactiveForm('price')" >
            <span></span>
          </div>
          <div class="txt_field">
            <textarea formControlName="note" placeholder="Ghi chú"></textarea>
          </div>
          <div>{{message}}</div>
          <button type="submit">Xác nhận</button><button [routerLink]="['/index']">Hủy</button>
        </form>
      </div>
    </div>
  </div>
 
  