#head{
    width: 100%;
    height: 100px;
    background-color: lightblue;
  }
#logo{
    height: 150px;
    width: 15%;
    background-color:darkgreen;
    float:left;
}

#slogan{

    height: 150px;
    width: 85%;
    background-color:darkkhaki;
    float:left;
  
}
#slogan h1{
    text-align: center;
    margin: 50px;
    font-size: 70px;
    color:indigo;
    font-family:  "Poppins", sans-serif;
    
}
 #background{
    
    background-image: url(https://media.viezone.vn/prod/2021/6/25/large_image_ff687082ec.png);
    background-size: 100% 100%;
    height: 100vh;
    overflow: auto;
   
  } 