
.block{
    display: inline;
    
}
.block p{
    text-align: center;
    font-size: 40px;
   
}
form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;

}
.income{
    background-color: white;
    margin-top: -405px;
    margin-left: 420px;
    margin-right: 250px;
}
.body-form{
    width: 500px;
    padding-left: 50px;
    padding-bottom: 50px;
    
}
.body-form button{
    padding: 0.6em 1.6em;
    border: 0.1em solid #ffffff;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 500;
    color:#ffffff;
    font-size: 20px;
    text-align: center;
    transition: all 0.2s;
    background-color: cornflowerblue;
    margin-left: 90px;
}
.body-form button:hover{
    color:white;
    background: blue;
}
.txt_field input{
    width: 100%;
    padding: 0 15px;
    height: 40px;
    font-size: 20px;
    border: none;
    background: none;
    outline: none;
}
.txt_field textarea{
    width: 100%;
    padding: 0 15px;
    height: 40px;
    font-size: 20px;
    border: none;
    background: none;
    outline: none;
}
.txt_field label{
    top: 45%;
    left: 5px;
    color:black;
    transform: translateY(-50%);
    font-size: 20px;
    pointer-events: none;
    transition: .5s;
} 
.txt_field span{
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background:blueviolet;
    
}
.body-form select{
    border: none;
   outline: 0;
   box-shadow: none;
   background: white;
   position: relative;
   display: flex;
   width: 512px;
   line-height: 3;
   
   overflow: hidden;
   border-radius: .25em;
   color: black;
   font-family: sans-serif;
   font-size: 20px;
   padding: 0 15px;
}
