.block{
    display:inline-block;
    position: relative;
}
.table{
    height: 450px;
    background-color: white;
    margin-top: -330px;
    margin-left: 420px;
    margin-right: 250px;
    overflow-y: scroll;
    
}

.h1{
    position: relative;
   margin-left: 560px;
   top: -330px
    
}
.button{
    background-color: royalblue
    
}
.button:hover{
    color: white;
    cursor: pointer;
} 