<div class="center">
  <form id="register" [formGroup]="registerForm" (ngSubmit)=register()>
    <div id="p">
      <p>ĐĂNG KÝ</p>
    </div>
    <div class="txt_field">
      <input type="text" formControlName="fullname" placeholder="Họ và tên">
      <span></span>
    </div>
    <div class="txt_field">
      <input type="text" formControlName="phonenumber" placeholder="SĐT">
      <span></span>
    </div>
    <div class="txt_field">
      <input type="text" formControlName="username" placeholder="Tên đăng nhập">
      <span></span>
    </div>
    <div class="txt_field">
      <input type="password" formControlName="password" placeholder="Mật khẩu">
      <span></span>
    </div>
    <div>{{message}}</div>
    <input type="submit" value="Đăng ký">
    <input [routerLink]="['/login']" type="submit" value="Trở về">
  </form>
</div>